<h1>{{title}}</h1>
<p>Welcome to Fretlog, your guitar buddy.</p>

<div class="index-body"> 
    <h3>What is Fretlog?</h3>
    <p>Fretlog is the novice guitarist's journal and chord reference to use on your journey.</p>
</div>

<footer class="index-footer">
<a href="/users/signup">Sign Up</a>
<footer>

<p>{{message}}</p>