<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{!-- <script type="text/javascript" src="https://www.scales-chords.com/api/scales-chords-api.js" async></script> --}}
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/users/signup">Sign Up</a>
        <a href="/users/login">Log in</a> 
        <a href="/users/logout">Log out</a>
        <a href="/users/user-home">User Profile</a>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>
