<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/users/signup">Sign Up</a>
        <a href="/users/login">Log in</a>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>
