<h2>Welcome back, {{name}}</h2>

<p>{{name}}</p>

<div>
    <a href="/users/diagram-finder">Search for chords and tabs</a>
    <a href="createpost">Create Post</p>
</div>

<div>
    <!--this is where the list of posts will populate -->
</div>
